
body{
	 background-color: lightblue;
	 text-align: center;
	 font-family: Georgia, serif;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
	font-family: Verdana, sans-serif;
}
	.bild {
    width: 100%;
    height: auto;
}
	.intro {
    text-align: right;
}
.color{
	background-color: gray;
}
.table {
align-content: center;
margin-left: auto;
  margin-right: auto;
  color: black;
  padding: auto;
  text-align: center;
}
.face {
	width: 15%;
}